@use './vars' as *;
@forward '../../node_modules/include-media/dist/include-media';

@mixin link {
  color: $color-1;
  transition: color $transition ease;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover,
  &:active {
    color: $blue;
  }
}

@mixin header {
  margin: 0;
  font-size: $font-size-20;
  font-weight: 600;
}