@use './vars' as *;
@forward '../../node_modules/include-media/dist/include-media';

@mixin link {
  color: $text-color-primary;
  transition: color $transition ease;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover,
  &:active {
    color: $blue;
  }
}

@mixin hover-background-color-secondary {
  background-color: $background-color-secondary;
  border: 1px solid darken($background-color-secondary, 2%);
}

@mixin hover-background-color-tertiary {
  background-color: $background-color-tertiary;
  border: 1px solid darken($background-color-tertiary, 2%);
}