$background-1: #ffffff;
$background-2: #f9fafb;
$background-3: #f1f3f5;
$color-1: #15171b;
$color-2: #565656;
$color-3: #979da6;
$border-color: #dde2e7;

// $background-1: #0d0d0e;
// $background-2: #141416;
// $background-3: #1c1c1e; 
// $color-1: #f5f5f7;
// $color-2: #b0b0b5;
// $color-3: #8a8a8f;
// $border-color: #222224;

$blue: #5282ff;
$purple: #3964fe;
$red: #eb445b;
$green: #30ad7d;
$black: #27292e;

$font-family: Onest, Arial, sans-serif;

$font-size-20: 20px;
$font-size-14: 14px;
$font-size-12: 12px;

$border-radius-6: 6px;
$border-radius-8: 8px;
$border-radius-10: 10px;
$border-radius-250: 250px;
