$background-color-primary: #ffffff;
$background-color-secondary: #f6f8fa;
$background-color-tertiary: #eaedf0;

$text-color-primary: #1f2328;
$text-color-secondary: #757d87;

$border-color: #dde2e7;

$blue: #0574f2;
$red: #e33b54;
$green: #63d2b4;

$font-size-header: 22px;
$font-size-main: 15px;
$font-size-small: 14px;
$font-size-tiny: 13px;

$font-family: 'Manrope', sans-serif;

$border-radius-small: 5px;
$border-radius-medium: 8px;
$border-radius-large: 10px;
$border-radius-circle: 250px;

$transition: 100ms;
$transparency: 0.9;
$blur: 8px;
