@forward '../../node_modules/reset-css/sass/reset';
@forward '../../node_modules/react-image-gallery/styles/scss/image-gallery';
@use './vars' as *;

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
}

body {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size-15;
  background: $background-1;
  color: $color-1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


/* Для вебкит-браузеров */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: rgba(#4f5761, 0.4);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(#4f5761, 0.6);
}

::-webkit-scrollbar-corner {
  background: #ffffff00;
}
