@use '../../../../../styles/vars' as *;
@use '../../../../../styles/mixins' as *;

.nameCell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.categoryImageContainer {
  background-color: $background-3;
  border-radius: $border-radius-10;
  width: 75px;
  height: 45px;

  .categoryImage {
    height: 45px;
    width: 75px;
    border-radius: $border-radius-10;
    object-fit: cover;
  }
}

.statsBadges {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: end;
}