@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.link {
  display: flex;
  border-radius: $border-radius-circle;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: $border-radius-circle;
}
