@use 'sass:color';
@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  color: $background-color-primary;
  font-size: $font-size-main;
  font-family: $font-family;
  border-radius: $border-radius-small;
  cursor: pointer;
  user-select: none;
  position: relative;
  line-height: normal;

  .text {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &.color-blue {
    background-color: $blue;
    border: 1px solid darken($blue, 7%);

    &:hover {
      background-color: darken($blue, 2%);
    }

    &:active {
      background-color: darken($blue, 4%);
    }
  }

  &.color-red {
    background-color: $red;
    border: 1px solid darken($red, 7%);

    &:hover {
      background-color: darken($red, 2%);
    }

    &:active {
      background-color: darken($red, 4%);
    }
  }

  &.disabled {
    pointer-events: none;
    color: $background-color-primary;
  }

  &.loading {
    .text {
      opacity: 0;
    }
  }
}

.buttons {
  margin-right: -5px;

  & > * {
    margin-right: 5px;
  }
}
