@use '../../../../styles/vars' as *;
@use '../../../../styles/mixins' as *;

.tabsContainer {
  display: flex;
  height: 100%;
  color: $color-1;
  background-color: $background-1;
}

.tabsHeader {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-right: 1px solid $border-color;
  width: 200px;
  padding: 5px;
}

.tabButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 11px;
  text-align: left;
  border: none;
  background: none;
  color: $color-1;
  border-radius: $border-radius-6;
  font-family: $font-family;
  font-weight: $font-weight-1;
  font-size: $font-size-14;
  cursor: pointer;
  transition: background-color $transition ease;

  &:hover {
    background-color: $background-3;
  }

  &.active {
    background-color: $background-3;
  }
}

.tabIcon {
  display: inline-flex;
  align-items: center;
  color: $color-2;
}

.tabsContent {
  flex: 1;
  overflow: auto;
}

.tabContent {
  padding: 10px;
  height: 100%;
  font-size: $font-size-14;
}
