@use '../../../../styles/vars' as *;
@use '../../../../styles/mixins' as *;

.tabsContainer {
  display: flex;
  height: 100%;
  color: $dark-color-1;
  background-color: $dark-background-2;
}

.tabsHeader {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-right: 1px solid $dark-border-color;
  width: 200px;
  padding: 5px;
}

.tabButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  text-align: left;
  border: none;
  background: none;
  color: $dark-color-1;
  border: 1px solid transparent;
  border-radius: $border-radius-6;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size-14;
  cursor: pointer;
  transition: background-color $transition ease;

  &:hover {
    background-color: $dark-background-3;
    border-color: lighten($dark-background-3, 1%);
  }

  &.active {
    background-color: $dark-background-3;
    border-color: lighten($dark-background-3, 1%);
  }
}

.tabIcon {
  display: inline-flex;
  align-items: center;
  color: $dark-color-2;
}

.tabsContent {
  flex: 1;
  overflow: auto;
}

.tabContent {
  height: 100%;
  font-size: $font-size-14;
}
