@use '../../../../styles/vars' as *;
@use '../../../../styles/mixins' as *;

.tabsContainer {
  display: flex;
  height: 100%;
}

.tabsHeader {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-right: 1px solid $border-color;
  width: 200px;
  padding: 5px;
}

.tabButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  text-align: left;
  border: none;
  background: none;
  border: 1px solid transparent;
  border-radius: $border-radius-small;
  font-family: $font-family;
  font-size: $font-size-main;
  cursor: pointer;
  
  &:hover {
    @include hover-background-color-secondary;
  }
  
  &.active {
    @include hover-background-color-tertiary;
  }
}

.tabIcon {
  display: inline-flex;
  align-items: center;
  color: $text-color-secondary;
}

.tabsContent {
  flex: 1;
  overflow: auto;
}

.tabContent {
  height: 100%;
}