@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.field {
  &.disabled {
    opacity: 0.5;
  }

  .label {
    color: $color-1;
    margin-bottom: 6px;
    display: block;
    user-select: none;
  }

  .input {
    display: block;
    padding: 8px;
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size-15;
    border: 1px solid $border-color;
    border-radius: $border-radius-8;
    background-color: $background-1;
    outline: none;
    width: 100%;
    transition: all $transition ease;

    &:focus {
      box-shadow: 0 0 0 1px $blue;
      border-color: $blue;
    }

    &.invalid {
      border-color: $red;

      &:focus {
        border-color: $blue;
      }
    }
  }

  .error {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: $font-size-14;
    margin-top: 5px;
    color: $red;
    user-select: none;
  }
}
