@use '../../../../styles/vars' as *;
@use '../../../../styles/mixins' as *;

.treeView {
  width: 340px;
  height: 100%;
  border-right: 1px solid $dark-border-color;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 40px;
  border-bottom: 1px solid $dark-border-color;
  background-color: $dark-background-2;
  z-index: 100;
}

.tree {
  list-style: none;
  padding: 5px;
  height: calc(100% - 40px);
  overflow: auto;
}

.node {
  margin-bottom: 3px;
}

.nodeHeader {
  display: flex;
  align-items: center;
  padding: 6px;
  cursor: pointer;
  position: relative;
  border-radius: $border-radius-5;
  border: 1px solid transparent;
  transition: background-color $transition ease;
  
  &:hover {
    background-color: $dark-background-3;
    border-color: lighten($dark-background-3, 2%);
  }
}

.caret {
  display: flex;
  align-items: center;
  margin-right: 8px;
  color: $dark-color-2;
}

.label {
  flex-grow: 1;
}

.count {
  font-size: $font-size-13;
  background: rgba($blue, 0.3);
  border: 1px solid rgba($blue, 0.3);
  border-radius: $border-radius-5;
  padding: 1px 5px;
}

.sequence {
  margin-right: 5px;
}

.subtree {
  display: flex;
  flex-direction: column;
  gap: 3px;
  list-style: none;
  padding-left: 3px;
  margin: 3px 0 3px 14px;
  border-left: 1px solid $dark-border-color;
  
  // Анимация для дочерних элементов
  & > * {
    opacity: 0;
    transform: translateX(-10px);
    animation: subtreeItemAppear 0.2s ease forwards;
  }
  
  // Задержка для каждого последующего элемента
  & > *:nth-child(1) { animation-delay: 0.1s; }
  & > *:nth-child(2) { animation-delay: 0.2s; }
  & > *:nth-child(3) { animation-delay: 0.3s; }
  & > *:nth-child(4) { animation-delay: 0.4s; }
  & > *:nth-child(n+5) { animation-delay: 0.5s; }
}

@keyframes subtreeItemAppear {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.leaf {
  padding: 6px 6px 6px 10px;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid transparent;
  border-radius: $border-radius-5;
  transition: background-color $transition ease;
  
  &:hover {
    background-color: $dark-background-3;
    border-color: lighten($dark-background-3, 2%);
  }
}

.leafLabel {
  flex-grow: 1;
}