@use '../../../../styles/vars' as *;
@use '../../../../styles/mixins' as *;

.treeView {
  width: 280px;
  height: 100%;
  border-right: 1px solid $border-color;
}

.header {
  display: flex;
  gap: 5px;
  padding: 5px;
  border-bottom: 1px solid $border-color;
}

.tree {
  list-style: none;
  padding: 5px;
}

.node {
  margin-bottom: 3px;
}

.nodeHeader {
  display: flex;
  align-items: center;
  padding: 6px;
  cursor: pointer;
  position: relative;
  border-radius: $border-radius-small;
  border: 1px solid transparent;
  
  &:hover {
    @include hover-background-color-secondary;
  }
}

.caret {
  display: flex;
  align-items: center;
  margin-right: 8px;
  color: $text-color-secondary;
}

.label {
  flex-grow: 1;
}

.count {
  font-size: $font-size-tiny;
  background: rgba($blue, 0.1);
  border: 1px solid rgba($blue, 0.12);
  border-radius: $border-radius-small;
  padding: 1px 5px;
}

.subtree {
  display: flex;
  flex-direction: column;
  gap: 3px;
  list-style: none;
  padding-left: 26px;
  margin: 3px 0;
}

.leaf {
  padding: 6px 6px 6px 15px;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid transparent;
  border-radius: $border-radius-small;
  
  &:hover {
    @include hover-background-color-secondary;
  }
}

.leafLabel {
  flex-grow: 1;
}