@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.alert {
  position: fixed;
  right: 20px;
  top: 50px;
  padding: 10px 16px;
  border-radius: $border-radius-8;
  z-index: 1000;
  background-color: rgba(25, 25, 25, $transparency);
  backdrop-filter: blur($blur);
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  
  &.red {
    color: $red;
  }

  &.green {
    color: $green;
  }

  &.blue {
    color: $blue;
  }
}

.icon {
  flex-shrink: 0;
  font-size: 20px;
  margin-top: 2px;
}

.content {
  flex: 1;
}