@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.alert {
  padding: 10px;
  border-radius: $border-radius-medium;

  &.red {
    background-color: rgba($red, 0.2);
    color: $red;
  }

  &.green {
    background-color: rgba($green, 0.2);
    color: $green;
  }

  &.brown {
    background-color: #e9d5bd;
    color: #614f39;
  }
}
