@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.card {
  width: 200px;
  height: 250px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: $background-color-primary;
  border-radius: $border-radius-large;
}

.imageContainer {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.mainImage {
  border-radius: $border-radius-medium;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity $transition ease;
}

.dotsContainer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  z-index: 2;
  opacity: 0;
  transition: opacity $transition ease;
}

.imageContainer:hover .dotsContainer,
.imageContainer:active .dotsContainer,
.dotsContainer[style*='display: flex'] {
  opacity: 1;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba($background-color-primary, 0.5);
  cursor: pointer;
}

.activeDot {
  background-color: rgba($background-color-primary, 0.9);
  transform: scale(1.2);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}

.title {
  font-size: $font-size-main;
  color: $text-color-primary;
  @include link;
}

.price {
  font-size: $font-size-main;
  font-weight: 800;
  color: $text-color-primary;
}

.city {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 2px 5px 5px 5px;
  border-radius: $border-radius-medium;
  font-size: $font-size-small;
  background-color: rgba($text-color-primary, 0.4);
  color: $background-color-primary;
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(1px);
}
