@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.LeftSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 15%;
  padding: 5px;
  background-color: $background-color-secondary;
}
