@use '../Input/index.module';
@use '../../styles/vars' as *;

.avatarField {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .fileInput {
    display: none;
  }

  .avatarContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: center;
  }

  .avatarLabel {
    cursor: pointer;
    display: block;
    
    .avatar {
      position: relative;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 2px solid $border-color;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: all 0.2s ease;
      background-color: $background-1;

      &:hover {
        border-color:  $green;
        
        .avatarOverlay {
          opacity: 1;
        }
      }

      &.hasImage {
        border-style: solid;
        border-color: $border-color;
      }

      &.loading {
        pointer-events: none;
        opacity: 0.7;
      }
    }

    .avatarImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    .avatarOverlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      opacity: 0;
      transition: opacity 0.2s ease;
      border-radius: $border-radius-250;
    }

    .avatarPlaceholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 10px;
      text-align: center;
    }

    .uploadText, .changeText {
      font-size: $font-size-14;
    }
  }

.loaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: $green;
}

  .removeButton {
    border-radius: $border-radius-6;
    color: rgba($red, 0.8);
    padding: 0;
    padding: 4px 10px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: $font-size-14;
    transition: color 0.1s ease;

    &:hover {
      color: $red;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .error {
    color:  $red;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
  }

  &.disabled {
    .avatarLabel {
      cursor: not-allowed;
      opacity: 0.6;
    }
    
    .avatar:hover {
      border-color: $border-color;
    }
  }
}