@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

$breakpoint: '<=900px';

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include media($breakpoint) {
  }

  .navigation {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
    padding: 0 20px;
    border-bottom: 1px solid $border-color-light;
    z-index: 100;
    background-color: $background-color-primary;

    @include media($breakpoint) {
    }

    .logo {
      width: 100%;
      max-width: 130px;
      height: auto;
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
    }

    .link {
      @include link;
    }
  }

  .content {
    height: 100%;
    overflow: auto;

    @include media($breakpoint) {
    }
  }
}
