@use '../../../../styles/vars' as *;
@use '../../../../styles/mixins' as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: default;
}

.modal {
  background-color: $dark-background-1;
  border: 1px solid $dark-border-color;
  border-radius: $border-radius-8;
  max-width: 400px;
  width: 100%;
  overflow-y: auto;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid $dark-border-color;
  margin-bottom: 10px;
}

.modalTitle {
  @include header;
}

.closeButton {
  background: none;
  border: none;
  font-size: $font-size-20;
  border-radius: $border-radius-5;
  cursor: pointer;
  color: $dark-color-2;
  padding: 0;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  margin-left: auto;
  transition: background-color $transition ease;

  &:hover {
    background-color: $dark-background-3;
    border-color: lighten($dark-background-3, 2%);
  }
}

.modalContent {
  padding: 0 10px 10px 10px;
}

.modalButton {
  background-color: $dark-background-2;
  color: $dark-color-1;
  border: 1px solid $dark-border-color;
  padding: 4px 12px;
  border-radius: $border-radius-5;
  cursor: pointer;
  font-size: $font-size-14;
  font-family: $font-family;
  font-weight: $font-weight;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color $transition ease;

  &:hover {
    background-color: $dark-background-3;
  }

  // Стиль для кнопки с иконкой
  &.iconButton {
    width: 20px;
    height: 20px;
    padding: 0;
    margin-left: 10px;
    font-size: $font-size-16;
    color: $dark-color-2;
    transition: color $transition ease;

    // Убираем стандартные стили для текстовой кнопки
    background-color: transparent;
    border: none;
    
    &:hover {
      color: $dark-color-1;
    }
  }
}