@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.AdsSection {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px 0;
  flex-wrap: wrap;
  height: 100%;
  width: 70%;
  overflow: auto;
}
