@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.AdsSection {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 5px 0;
  flex-wrap: wrap;
  height: 100%;
  width: 68%; // (68 / 16 / 16)
  overflow: auto;
}
