@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.searchContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.field {
  &.disabled {
    opacity: 0.5;
  }

  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .searchIcon {
    position: absolute;
    left: 10px;
    color: $text-color-2;
    font-size: 20px;
  }

  .input {
    display: block;
    padding: 10px 10px 10px 40px;
    font-family: $font-family;
    font-size: $font-size-3;
    border: 1.5px solid $border-color-1;
    border-radius: $border-radius-1;
    background-color: $background-color-1;
    outline: none;
    width: 400px;
    height: 40px;
    box-sizing: border-box;
    transition: border-color 0.1s ease;
    
    &::placeholder {
      color: $text-color-2;
      opacity: 1;
      font-family: $font-family;
      font-size: $font-size-3;
    }

    &:focus {
      border-color: $primary-color;
      
      + .searchIcon {
        color: $primary-color;
      }
    }

    &.invalid {
      border-color: $error-color;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: darken($background-color-1, 5%);
    }
  }

  .error {
    font-size: $font-size-4;
    margin-top: 5px;
    color: $error-color;
    user-select: none;
    position: absolute;
  }
}

.searchButton {
  height: 40px;
  padding: 0 20px;
  font-family: $font-family;
  font-size: $font-size-3;
  background-color: $primary-color;
  color: $background-color-1;
  border: none;
  border-radius: $border-radius-1;
  cursor: pointer;
  transition: background-color 0.1s ease;
  
  &:hover:not(:disabled) {
    background-color: darken($primary-color, 5%);
  }

  &:active:not(:disabled) {
    background-color: darken($primary-color, 10%);
  }

  &:disabled {
    background-color: $border-color-1;
    cursor: not-allowed;
    opacity: 0.7;
  }
}